#无需添加的vs中间过程文件
*.lib
*.exp
*.dll
*.ilk
*.pdb
*.pch
*.obj
*.exe
/Code/Puncture/.vs/
/Code/Puncture/Int/


#需要跟踪的lib文件
!Code/Puncture/Lib/Commonlib/frmgrab.lib
!Code/Puncture/Lib/debug/log4cplusUD.lib
!Code/Puncture/Lib/debug/opencv_world300d.lib
!Code/Puncture/Lib/debug/SceneGraph.lib
!Code/Puncture/Lib/release/log4cplusU.lib
!Code/Puncture/Lib/release/opencv_world300.lib
!Code/Puncture/Lib/release/SceneGraph.lib

#需要跟踪的config文件
!Code/Puncture/Output/x64/Debug/Config
!Code/Puncture/Output/x64/Release/Config

#需要跟踪的dll文件
!Code/Puncture/Output/x64/Debug/frmgrab.dll
!Code/Puncture/Output/x64/Debug/log4cplusUD.dll
!Code/Puncture/Output/x64/Debug/msvcp110d.dll
!Code/Puncture/Output/x64/Debug/msvcp120d.dll
!Code/Puncture/Output/x64/Debug/msvcr110d.dll
!Code/Puncture/Output/x64/Debug/msvcr120d.dll
!Code/Puncture/Output/x64/Debug/opencv_world300d.dll

!Code/Puncture/Output/x64/Release/frmgrab.dll
!Code/Puncture/Output/x64/Release/log4cplusU.dll
!Code/Puncture/Output/x64/Release/msvcp110.dll
!Code/Puncture/Output/x64/Release/msvcr110.dll
!Code/Puncture/Output/x64/Release/opencv_world300.dll
